# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy container app to Azure Web App - trump-nlp-ai-api

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read #This is required for actions/checkout

    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to container registry
        uses: docker/login-action@v2
        with:
          registry: docker.io/
          username: ${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_B20284BAF4244969B976F742F6C44017 }}
          password: ${{ secrets.AZUREAPPSERVICE_CONTAINERPASSWORD_D6D453A50E9C4B1BA314FDE51F78FC73 }}

      - name: Build and push container image to registry
        uses: docker/build-push-action@v3
        with:
          context: .
          push: true
          tags: docker.io/${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_B20284BAF4244969B976F742F6C44017 }}/nlp-text-analysis-api:${{ github.sha }}
          file: ./Dockerfile

  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write #This is required for requesting the JWT
      contents: read #This is required for actions/checkout

    needs: build
    
    steps:
      
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_9BD7DF3A17AA446396C27083F911D677 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_4D99A49C6FD144819FE2B47DBCE2F0B7 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_ED4AF8CF722046FFB7126E41627E1282 }}

      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'trump-nlp-ai-api'
          slot-name: 'Production'
          images: 'docker.io/${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_B20284BAF4244969B976F742F6C44017 }}/nlp-text-analysis-api:${{ github.sha }}'
          